.introduction, .description{
    width: 90%;
    margin: 0 5% 0 5%;
}

.character{
    width: 10%;
    height: 150px;
    padding-right: 10vh;
}

.introduction{
    color: #43AFBD;
}

.campaign {
    color: #33A5FF;
}

