.App {
  text-align: center;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-body, .App-footer{
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.App-header {
  top: 0;
}

.App-body {
  min-height: 92vh;
}

.App-footer {
  bottom: 0;
}

.App-link {
  color: #61dafb;
}

#header-item {
  padding-right: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
