.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-body, .App-footer, #header-link{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.App-header {
  top: 0;
  background-color: #282c38;
}

.App-body {
  min-height: 91vh;
}

.App-footer {
  bottom: 10%;
}

.App-link {
  color: #61dafb;
}

#header-item {
  padding-top: 10px;
  padding-right: 25px;
}

#header-link {
  background: none!important;
  border: none;
  /*padding: 0!important;*/
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  cursor: pointer;
  top: 0;
  padding-top: 15px;
  padding-right: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
