@import "~bootstrap/scss/bootstrap";

.App, html, body {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border-bottom: 0.1px solid yellow;
}

.App-header, .App-body, .App-footer, #header-link, #nav-dropdown-dark-example{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.App-header, .nav-dropdown-dark-example {
  top: 0;
  background-color: #282c38;
}

.App-body {
  height: 89.5vh;
  display: block;
  margin-top: 1%;
}

.App-footer {
  bottom: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.header-item {
  padding-top: 10px;
  padding-right: 25px;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 2px;
}

#header-link {
  background: none!important;
  border: none;
  /*padding: 0!important;*/
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  cursor: pointer;
  top: 0;
  padding-top: 15px;
  padding-right: 25px;
}

#welcomeMessage {
  font-size: 72px;
}

#homeHeader, #nav-dropdown-dark-example, #dmNotesHeader {
  width: 33%;
  margin: auto;
}

.navbar {
  --bs-navbar-padding-y: 0;
}